{% extends 'base.html.twig' %}

{% block title %}Car Manager{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Home -->
    <a class="navbar-brand" href="{{ asset('/') }}">Home</a>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Manager</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ asset('manager/car') }}">Car</a>
                <a class="dropdown-item" href="{{ asset('manager/type') }}">Type</a>
                <a class="dropdown-item" href="{{ asset('manager/manufacturer') }}">Manufacturer</a>
            </div>
        </li>

        {# <li class="nav-item">
            <a class="nav-link" href="{{ asset('manager/car/create') }}">Create</a>
        </li> #}
    </ul>
</nav>
<br>
<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Type</th>
                <th>Manufacturer</th>
                <th>Year Of Manufacture</th>
                <th>Price</th>
                <th>Amount</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td><img class="img-thumbnail" src="{{ asset('uploads/images/' ~ car.Image ~ '') }}" alt="{{ car.Name }}" style="max-width: 350px;"></td>
                <td>{{ car.Name }}</td>
                <td>{% if (car.CarType != null) %}{{ car.CarType.Name }}{% endif %}</td>
                <td>{% if (car.Manufacturer != null) %}{{ car.Manufacturer.Name }}{% endif %}</td>
                <td>{{ car.YearOfManufacture | date("d/m/Y") }}</td>
                <td>{{ car.Price }} USD</td>
                <td>{{ car.Amount }}</td>
                <td><a href="{{ asset('manager/car/update/' ~ car.id ~ '') }}" class="btn btn-warning" role="button">Edit</a></td>
                <td><a href="{{ asset('manager/car/delete/' ~ car.id ~ '') }}" class="btn btn-danger" role="button" onclick="return confirm('Are you sure to delete?')">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ asset('manager/car/create') }}" class="btn btn-info" role="button">Add</a>
</div>
{% endblock %}
