{% extends 'base.html.twig' %}

{% block title %}Update Manufacturer{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Home -->
    <a class="navbar-brand" href="{{ asset('/') }}">Home</a>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Manager</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ asset('manager/car') }}">Car</a>
                <a class="dropdown-item" href="{{ asset('manager/type') }}">Type</a>
                <a class="dropdown-item" href="{{ asset('manager/manufacturer') }}">Manufacturer</a>
            </div>
        </li>
    </ul>
</nav>
<div class="container">
    <h2 class="mt-5 mb-5 text-center text-success">UPDATE MANUFACTURER</h2>
    {{ form_start (form) }}
        <div class="form-group">
            <h6 class="text-primary">Name</h6>
            {{ form_widget (form.Name, {'attr' : {'class' : 'form-control'}}) }}
        </div>
        <div class="form-group mt-2">
            <h6 class="text-primary">Description</h6>
            {{ form_widget (form.Description, {'attr' : {'class' : 'form-control'}}) }}
        </div>
        <div class="form-group text-center mt-5">
            <button type="submit" class="btn btn-primary mt-2">Update</button>
        </div>
    {{ form_end (form) }}
    <div class="col-md-12 text-center">
        <a href="{{ asset('manager/manufacturer') }}" class="btn btn-secondary" role="button">Back</a>
    </div>
</div>
{% endblock %}
